
.icon-star:before { content: '\e800'; } /* '' */
.icon-plus-circled:before { content: '\e801'; } /* '' */
.icon-cog:before { content: '\e802'; } /* '' */
.icon-right-hand:before { content: '\e803'; } /* '' */
.icon-crown:before { content: '\e844'; } /* '' */
.icon-paw:before { content: '\f1b0'; } /* '' */
